@import url('./_text/popup__input_text_name.css');
@import url('./_text/popup__input_text_job.css');

.popup__input {
  /* margin: 0 0 30px; */
  padding: 0 0 13px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  color: #000;
}

/* .popup__input:last-of-type {
  margin: 0;
} */

/* .popup__input:focus {
  border-bottom: 1px solid rgba(0,0,0,.5);
} */

.popup__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.popup__input::-moz-placeholder {
  color: #c4c4c4;
}

.popup__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 425px) {
  .popup__input {
    margin: 0 0 20px;
    padding: 0 0 12px;
    height: 24px;
    font-size: 12px;
    line-height: 15px;
  }
}