@import url('./__avatar/profile__avatar.css');
@import url('./__user-info/profile__user-info.css');
@import url('./__description/profile__description.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');
@import url('./__handlers/profile__handlers.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');

.profile {
  width: 73.5%;
  margin: 0 auto;
  padding: 36px 0 47px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1105px) {
  .profile {
    width: 83%;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 90%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 38px 0 36px;
    width: 88.2%;
  }
}