@import url('./__avatar/profile__avatar.css');
@import url('./__img/profile__img.css');
@import url('./__user-info/profile__user-info.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__container/profile__container.css');
@import url('./__add-button/profile__add-button.css');

.profile {
  width: 73.5%;
  margin: 0 auto;
  padding: 36px 0 47px;
  display: grid;
  grid-column-gap: 17px;
  grid-template-columns: 120px 295px 24px 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 1105px) {
  .profile {
    width: 83%;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 90%;
    grid-template-columns: 1fr 24px;
    grid-template-rows: repeat( auto-fit, minmax(50px, 1fr) );
    grid-row-gap: 10px;
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 38px 0 36px;
    width: 88.2%;
  }
}