@import url('./_type/element__button_type_delete.css');
@import url('./_type/element__button_type_like.css');

.element__button {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  outline-style: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
  background-color: transparent;
  -ms-align-self: center;
  padding: 0;
}

.element__button:hover {
  opacity: .6;
}