@import url('./__logo/header__logo.css');

.header {
  width: 73.5%;
  padding: 45px 0 40px;
  margin: 0 auto;
  border-bottom: solid 1px rgb(84, 84, 84, .7);
  transition: .3s;
}

@media screen and (max-width: 1105px) {
  .header {
    width: 83%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 28px 0 31px;
    width: 100%;
  }
}