.profile__edit-button {
  background-image: url('../../../../src/images/edit-button.png');
  -webkit-background-size: contain;
  background-size: contain;
  outline-style: none;
  border: none;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
  background-color: transparent;
  grid-column: 3 / 4;
  -ms-align-self: center;
  align-self: center;
  transform: translate(0, -7px);
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    transform: translate(0, -16px);
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    transform: translate(-20px, -15px);
  }
}