.popup__image {
  object-fit: scale-down;
  max-height: 75vh;
}

@media screen and (max-width: 850px) {
  .popup__image {
    max-width: 80vw;
  }
}

@media screen and (max-width: 425px) {
  .popup__image {
    max-width: 75vw;
  }
}