.popup__btn {
  padding: 0;
  margin: 48px 0 0;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

.popup__btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 425px) {
  .popup__btn {
    margin: 36px 0 0;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}