@import url('./_type/popup__container_type_form.css');
@import url('./_type/popup__container_type_photo.css');
@import url('./_type/popup__container_type_confirm.css');

.popup__container {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}