.popup__container_type_form {
  background-color: #fff;
  min-width: 430px;
  min-height: 330px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 510px) {
  .popup__container_type_form {
    min-width: 80%;
    min-height: 258px;
  }
}

@media screen and (max-width: 425px) {
  .popup__container_type_form {
    padding: 30px 20px;
    min-width: 240px;
    min-height: 258px;
  }
}