.popup__close-btn {
  background-image: url('../../../images/close-icon.svg');
  background-size: contain;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
  transition: .3s;
}

.popup__close-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .popup__close-btn {
    width: 30px;
    height: 30px;
    top: -27px;
    right: -27px;
  }
}