.element__like-button {
  background-image: url('../../../images/like-btn.svg');
  min-width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  outline-style: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
  background-color: transparent;
  -ms-align-self: center;
  padding: 0;
  margin: 0 0 3px;
}

.element__like-button:hover {
  opacity: 0.6;
}